//@theme "/home/will/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/will/.local/share/rofi/themes/squared-nord.rasi"

configuration {
   font: "IosevkaNerdFontMono 14";
}

window {
  width: 350px;
  height: 250px;
//  size: 0.5;
}
//@theme "/home/will/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/will/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/will/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/will/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/will/.local/share/rofi/themes/simple-tokyonight.rasi"
@theme "/usr/share/rofi/themes/purple.rasi"
